.brand-img {
    width: 10rem;
    height: auto;
}

.section-heading {
    font-size: 2.5em;
}

/* Home */
.home-container {
    /* background-image: url('../img/Background/bg.webp'); */
}

/* Services */
.service-card {
    width: 10rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: bisque; */
    margin: 10px;
    border-radius: 5px;
}

.service-card-img {
    height: 70%;
    display: flex;
    justify-content: center;
    /* background-color: green; */
    flex-grow: inherit;
}

.service-card-content {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding: 0.5rem;
}

.service-card-title {
    text-align: center;
    font-size: 1em;
}

.service-card-text {
    display: none;
}

.service-card-svg {
    width: 4rem;
    height: auto;
    filter: invert(32%) sepia(56%) saturate(1357%) hue-rotate(279deg) brightness(85%) contrast(98%);
}

/* Projects */
.work-card {
    /* width: 15rem; */
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
    margin: unset;
    border-radius: 5px;
}

.work-card-img {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    background-color: green;
}

.work-card-content {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 0.5rem;
}

.work-card-title {
    text-align: center;
    font-size: 1em;
}

.work-card-text {
    display: none;
}

/*Section 3*/
.about-desc {
    font-size: 18px;
}
.client-bg {
    height: 80px;
    width: 80px;
}

.client-logo-1,
.client-logo-2,
.client-logo-3,
.client-logo-4,
.client-logo-5,
.client-logo-6 {
    margin: auto;
    height: 50px;
    max-width: 50px;
}

.work-img1 {
    height: 50vh;
}

/*Section 4*/
.s4 {
    height: 60vh;
}

.company-logo {
    min-width: 45%;
}

.company-logo-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    text-align: center;
}

.interchange {
    display: flex;
    flex-direction: column-reverse;
}

.whatsapp-icon {
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.google-logo {
    font-size: 23px;
    padding: 1px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.border-lg-right {
    border: 0px;
}

.footer {
    font-size: 14px;
}
